<div class="page-container">
  <img src="./../../../assets/fundo.jpg" alt="Imagem" class="background-image">

  <mat-card class="card">
    <h1 class="title">Criar Conta</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="firstName" type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="lastName" type="text">
      </mat-form-field>
      <div style="display: flex;">
      <mat-form-field style="margin-right: 5px;" appearance="outline" class="form-field">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 5px; flex-basis: 60%;" class="form-field">
        <mat-label>Telefone</mat-label>
        <input matInput (keyup)="formatMobileNumber()" formControlName="mobileNumber" type="text" [(ngModel)]="mobileNumber">
      </mat-form-field>
    </div>

      <div class="password" style="display: flex;">
        <div style="flex: 1; margin-right: 5px;">
          <mat-form-field appearance="outline" class="form-field" hintLabel="Mínimo de 8 caracteres">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </div>

        <div style="flex: 1; margin-left: 5px;">
          <mat-form-field appearance="outline" class="form-field" hintLabel="Mínimo de 8 caracteres">
            <mat-label>Confirme a Senha</mat-label>
            <input matInput formControlName="passConfirmation" type="password">
          </mat-form-field>

          <div class="pass-error"
          *ngIf="registerForm.get('passConfirmation')?.dirty &&
          !registerForm.get('passConfirmation')?.valid">
            Senha não confere
          </div>
        </div>
      </div>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
        <button (click)="onReturn()" mat-raised-button color="accent" type="submit">Voltar</button>

      </div>
    </form>
  </mat-card>
</div>

<div id="footer">
  created by <a href="https://www.linkedin.com/in/jean-fernandine">@Jean Fernandine</a>
</div>
