.image {
  width: 100%;
  height: auto;
}

/* Estilos para o card de login */
.card {
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Estilos para o formulário de login */
.form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

