<div fxLayout="row">
  <div fxFlex="50%">
    <!-- Aqui vai a imagem -->
    <img src="./../../../assets/fundo.jpg" alt="Imagem" class="image">
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <!-- Aqui vai o card de login -->
    <mat-card class="card">
      <h1 class="card-title">{{ title }}</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field class="form-field example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="username" type="email">
        </mat-form-field>

        <mat-form-field class="form-field example-full-width">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Entrar</button>
        </div>

        <p class="error">{{ error }}</p>
      </form>
    </mat-card>
  </div>
</div>
