<mat-table [dataSource]="protocols">

  <ng-container matColumnDef="protocolNumber">
    <mat-header-cell *matHeaderCellDef>Protocolo</mat-header-cell>
    <mat-cell *matCellDef="let protocol">{{ protocol.protocolNumber }}</mat-cell>
  </ng-container>

    <ng-container matColumnDef="institution">
      <mat-header-cell *matHeaderCellDef>Entidade</mat-header-cell>
      <mat-cell *matCellDef="let protocol">{{ protocol.institution }}</mat-cell>
    </ng-container>

  <ng-container matColumnDef="management">
    <mat-header-cell *matHeaderCellDef>Gerência</mat-header-cell>
    <mat-cell *matCellDef="let protocol">{{ protocol.management }}</mat-cell>
  </ng-container>

    <ng-container matColumnDef="operatingUnit">
      <mat-header-cell *matHeaderCellDef>Unidade Operacional</mat-header-cell>
      <mat-cell *matCellDef="let protocol">{{ protocol.operatingUnit }}</mat-cell>
    </ng-container>

  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef>Usuário</mat-header-cell>
    <mat-cell *matCellDef="let protocol">{{ protocol.user?.firstName }} {{ protocol.user?.lastName }}</mat-cell>
  </ng-container>


  <ng-container class="column-all" matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button
      mat-raised-button
      color="accent"
      (click)="onAdd()"
      class="action-column-header"
      >
      Criar Protocolo
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let protocol">
      <button mat-icon-button color="accent" aria-label="Detalhes" (click)="onReport(protocol)">
        <mat-icon>info</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar"
        (click)="onEdit(protocol)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="Deletar"
        (click)="onDelete(protocol)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
